@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans|Montserrat);

body {
    width: 100%;
    background-color: #9B8F89;
    margin: 16px;
}

.calContainer {
    background-color: #F3EEE7;
    display: block;
    width: 250px;
    height: 335px;
    margin: 0 auto;
    text-align: center;
    /*border: 1px solid #4B4657;*/
    border-top-left-radius: 80% 20px;
    border-top-right-radius: 80% 20px;
    border-bottom-left-radius: 80% 20px;
    border-bottom-right-radius: 80% 20px;
    box-shadow: inset 5px 0 10px -5px #635e61, inset -5px 0 10px -5px #635e61, inset 0 -5px 10px -2px #635e61, 0 0 1px 2px #635e61, 0 10px 20px 0 #494547;
}

.calContainer .row h3 {
    padding-top: 10px;
    margin-bottom: -10px;
    color: #7b777b;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
}

.calContainer .row h4 {
    color: #969194;
    font-family: 'Open Sans', serif;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

.row {
    display: block;
}

.cell {
    width: 40px;
    height: 30px;
    border: 1px solid #4B4657;
    border-top: 2px solid #7c748f;
    background-image: -webkit-linear-gradient(top, #4B4657, #332f3b);
    background-image: linear-gradient(to bottom, #4B4657, #332f3b);
    color: white;
    font-size: 1.1em;
    border-top-left-radius: 80% 10px;
    border-top-right-radius: 80% 10px;
    border-bottom-left-radius: 80% 10px;
    border-bottom-right-radius: 80% 10px;
    margin: 0 5px 8px;
    box-shadow: inset 0 1px 4px #7c748f, inset 0 -4px 20px #332f3b, 0 3px 1px 0 #332f3b;
}
.cell:active {
    background-image: -webkit-linear-gradient(bottom, #4B4657, #332f3b);
    background-image: linear-gradient(to top, #4B4657, #332f3b);
}
.cell:focus {
    outline: none;
}

.tall {
    height: 65px;
    float: right;
    margin: 0 24px 0 -8px;
}

.red {
    border: 1px solid #CC4E5F;
    border-top: 2px solid #e39da7;
    background-image: -webkit-linear-gradient( top , #CC4E5F, #b33445);
    background-image: linear-gradient(to bottom, #CC4E5F, #b33445);
    box-shadow: inset 0 1px 4px #e39da7, inset 0 -4px 20px #b33445;
}
.red:active {
    background-image: -webkit-linear-gradient( bottom , #CC4E5F, #b33445);
    background-image: linear-gradient(to top, #CC4E5F, #b33445);
}

.display {
    height: 40px;
    width: 200px;
    background-color: rgb(199, 199, 176);
    border-radius: 5px;
    border: 1px solid rgb(178, 178, 146);
    box-shadow: rgb(178, 178, 146) 0 -2px 10px 0 inset;
    display: inline-block;
    padding: 1px 10px 1px 0;
    margin: 0 0 20px;


    color: rgb(84, 84, 84);
    font-family: Montserrat, serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: right;
}