<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="calContainer" ng-controller="MainCtrl">
    <div class="row"><h3>FreeCodeCamp</h3></div>
    <div class="row"><h4>Electronic Calculator</h4></div>
    <div class="row"><p class="display">{{display}}</p></div>
    <div class="row">
        <button ng-click="opInput('opAC')" class="cell red">AC</button>
        <button ng-click="opInput('opCE')" class="cell red">CE</button>
        <button class="cell">%</button>
        <button class="cell">/</button>
    </div>
    <div class="row">
        <button ng-click="input('7')" class="cell">7</button>
        <button ng-click="input('8')" class="cell">8</button>
        <button ng-click="input('9')" class="cell">9</button>
        <button class="cell">x</button>
    </div>
    <div class="row">
        <button ng-click="input('4')" class="cell">4</button>
        <button ng-click="input('5')" class="cell">5</button>
        <button ng-click="input('6')" class="cell">6</button>
        <button class="cell">-</button>
    </div>
    <div class="row">
        <button ng-click="input('1')" class="cell">1</button>
        <button ng-click="input('2')" class="cell">2</button>
        <button ng-click="input('3')" class="cell">3</button>
        <button ng-click="opInput('opAdd')" class="cell tall">+</button>
    </div>
    <div class="row">
        <button ng-click="input('0')" class="cell">0</button>
        <button ng-click="input('.')" class="cell">.</button>
        <button class="cell">=</button>
    </div>

</div>

</div>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--
<div ng-view></div>
-->
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
